body {
  background-color: #f5e6cc;
  color: #222;               
}

#header-image {
  width: 50%;
  height: auto;
  display: block;
  margin: 0 auto;
}

.header {
  text-align: center;
}

#page-title {
  font-size: 3rem;
  font-weight: bold;
  text-align: center;
  color: #333;
  margin-top: 1em;
}
