@media only screen and (max-width: 600px) {
strong {
  color: #90D5FF;
  }
  
.img-class {
  margin: 0 0 10px 20px;
  border-radius: 50%;
  }
}

body {
  background-color: #0B005C;
  font-family: Helvetica, Arial, sans-serif;
  color: #FA8072;
}

a {
  color: #90D5FF;
}

p {
  font-size: 16px;
}

.body-div {
  margin: 40px;
  padding: 20px;
  border: 1px solid #cccccc;
}

.title {
  text-align: center;
  margin: 20px;
}

.nav-class {
  text-align: center;
  margin-bottom: 20px;
}

.list-class {
  display:grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 1rem;
}

.instruction-list-class {
  display:grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: .5rem 5rem;
}

.ingredients-class, .instructions-class, .storage-class {
  margin-bottom: 40px;
}
