body {
  background-color: #141414;
  font-family: Helvetica, Arial, sans-serif;
  color: #FA8072;
}

a {
  color: #90D5FF;
}

p {
  font-size: 16px;
}

strong {
  text-decoration: underline wavy #90D5FF;
}
