body {
  background-color: #0B005C;
  font-family: Helvetica, Arial, sans-serif;
  color: #FA8072;
}

a {
  color: #90D5FF;
}

p {
  font-size: 16px;
}

strong {
  text-decoration: underline wavy #069494;
  color: #BD685E;
}

.body-div {
  margin: 40px;
  padding: 20px;
  border: 1px solid #ccc;
}

.title {
  text-align: center;
  margin: 20px;
}

.nav-class {
  text-align: center;
  margin-bottom: 20px;
}

.float-img {
  float: right;

}

.ingredients-class, .instructions-class, .storage-class {
  margin-bottom: 40px;
}
